In [57]:
import pandas as pd
import json

In [58]:
df = pd.read_csv("sales_orders.csv", )
df.head()

,order_number,order_date,line_items,fulfillment
0,387005,2016-01-22,"[\r\n {\r\n ""product"": {\r\n ""product...",In store
1,395005,2016-01-30,"[\r\n {\r\n ""product"": {\r\n ""product...",In store
2,423011,2016-02-27,"[\r\n {\r\n ""product"": {\r\n ""product...",In store
3,600006,2016-08-22,"[\r\n {\r\n ""product"": {\r\n ""product...",Online
4,652002,2016-10-13,"[\r\n {\r\n ""product"": {\r\n ""product...",In store

In [60]:
df["line_items"] = df["line_items"].apply(json.loads)

In [62]:
df = df.explode(column="line_items")

In [63]:
df

,order_number,order_date,line_items,fulfillment
0,387005,2016-01-22,{'product': {'product_name': 'MGS Age of Empir...,In store
0,387005,2016-01-22,{'product': {'product_name': 'A. Datum Bridge ...,In store
0,387005,2016-01-22,{'product': {'product_name': 'WWI Desktop PC1....,In store
1,395005,2016-01-30,{'product': {'product_name': 'Contoso DVD 60 D...,In store
1,395005,2016-01-30,{'product': {'product_name': 'SV DVD 38 DVD St...,In store
...,...,...,...,...
98,2175000,2020-12-14,{'product': {'product_name': 'The Phone Compan...,In store
98,2175000,2020-12-14,{'product': {'product_name': 'The Phone Compan...,In store
98,2175000,2020-12-14,{'product': {'product_name': 'Fabrikam Laptop1...,In store
98,2175000,2020-12-14,{'product': {'product_name': 'SV DVD 14-Inch P...,In store
99,2192014,2020-12-31,{'product': {'product_name': 'WWI Desktop PC1....,In store

In [65]:
x = pd.json_normalize(df["line_items"])
x

,quantity,product.product_name,product.product_price
0,3,MGS Age of Empires II Gold Edition2009 E172,32.00
1,2,A. Datum Bridge Digital Camera M300 Pink,186.90
2,1,WWI Desktop PC1.80 E1801 Silver,269.90
3,5,Contoso DVD 60 DVD Storage Binder L20 Black,22.89
4,5,SV DVD 38 DVD Storage Binder E25 Silver,9.99
...,...,...,...
225,2,The Phone Company Smart phones without camera ...,129.00
226,4,The Phone Company PDA Phone Unlocked 3.7 inche...,238.00
227,3,Fabrikam Laptop10.1 M0101 Silver,384.90
228,4,SV DVD 14-Inch Player Portable L100 White,259.99
229,10,WWI Desktop PC1.80 E1801 Black,269.90

In [66]:
x.sort_index()

,quantity,product.product_name,product.product_price
0,3,MGS Age of Empires II Gold Edition2009 E172,32.00
1,2,A. Datum Bridge Digital Camera M300 Pink,186.90
2,1,WWI Desktop PC1.80 E1801 Silver,269.90
3,5,Contoso DVD 60 DVD Storage Binder L20 Black,22.89
4,5,SV DVD 38 DVD Storage Binder E25 Silver,9.99
...,...,...,...
225,2,The Phone Company Smart phones without camera ...,129.00
226,4,The Phone Company PDA Phone Unlocked 3.7 inche...,238.00
227,3,Fabrikam Laptop10.1 M0101 Silver,384.90
228,4,SV DVD 14-Inch Player Portable L100 White,259.99
229,10,WWI Desktop PC1.80 E1801 Black,269.90